@model TraineeshipForum.Models.Actions.NewTopicandPost

@{
    ViewData["Title"] = "Create Topic";
}

<h1>Create</h1>

<h4>Topic and Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTopicandPost" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Topic.Title" class="control-label"></label>
                <input asp-for="@Model.Topic.Title" class="form-control" />
                <span asp-validation-for="@Model.Topic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Post.Content" class="control-label"></label>
                <textarea id="Content" asp-for="@Model.Post.Content" class="form-control"></textarea>
                <span asp-validation-for="@Model.Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="hidden" name="categoryId" value="@Model.CategoryId"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Topics" asp-action="TopicsByCategory" asp-route-id="@Model.CategoryId">Back to List</a>
</div>

@section Scripts
{
    <script>
        CKEDITOR.replace('Content');
        CKEDITOR.config.width = 600;
        CKEDITOR.config.language = 'en';
    </script>
}
