@model TraineeshipForum.Models.Pages.CategoryPage

@{
    ViewData["Title"] = "Detailed category page";
}

    <div class="category-navigation">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn dropdown-toggle">
                @Html.DisplayFor(modelCategory => Model.Category.Title)
            </button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a asp-controller="Home" asp-action="Index" class="dropdown-item">All Categories</a>
                @foreach (var category in Model.Categories)
                {
                    <a asp-controller="Topics" asp-action="TopicsByCategory" asp-route-id="@category.Id" class="dropdown-item">@Html.DisplayFor(modelCategory => category.Title)</a>
                }
            </div>
        </div>
        <div class="create-topic">
            <a class="btn btn-info" asp-controller="Topics" asp-action="CreateTopicandPost" asp-route-id="@Model.Category.Id"> + New Topic</a>
        </div>
    </div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelTopic => Model.Topics.FirstOrDefault().TopicTitle)
            </th>
            <th>
                @Html.DisplayNameFor(modelTopic => Model.Topics.FirstOrDefault().AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(modelTopic => Model.Topics.FirstOrDefault().PostCount)
            </th>
            <th>
                @Html.DisplayNameFor(modelTopic => Model.Topics.FirstOrDefault().DateCreated)
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td>
                    <a asp-controller="Posts" asp-action="PostsByTopic" asp-route-id="@topic.TopicId">@Html.DisplayFor(modelTopic => topic.TopicTitle)</a>
                </td>
                <td>
                    <a>@Html.DisplayFor(modelTopic => topic.AuthorName)</a>
                </td>
                <td>
                          @if (topic.PostCount != 1)
                          {
                            <span title="This topic has @topic.PostCount replies">@Html.DisplayFor(modelTopic => topic.PostCount)</span>
                          }
                          else 
                          {
                            <span title="This topic has @topic.PostCount reply">@Html.DisplayFor(modelTopic => topic.PostCount)</span>  
                          }
                </td>
                <td>
                    <span>@Html.DisplayFor(modelTopic => topic.DateCreated)</span>
                </td>
                <td>
                    @if (User.Identity.Name == topic.AuthorName)
                    {
                        <a class="edit-topic" asp-controller="Topics" asp-action="Edit" asp-route-id="@topic.TopicId">
                            <img class="edit" src="~/lib/images/Edit.jpg" alt="Edit" title="Edit Topic">
                        </a>
                        <a asp-controller="Topics" asp-action="Delete" asp-route-id="@topic.TopicId">
                            <img class="delete" src="~/lib/images/Delete.jpg" alt="Delete" title="Delete Topic">
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/site.js"></script>
}