@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Add New Role</a>
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelTopic => Model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(modelTopic => Model.First().Id)
                </th>
                <th>
                    Settings
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Id
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteRole" asp-controller="Administration" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
   <div class="card">
       <div class="card-header">
            No roles created yet
       </div>
       <div class="card-body">
            <h5 class="card-title">
                Use this button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="administration" asp-action="CreateRole">
                   Create Role
            </a>
       </div>
   </div>
}

@section Scripts{ 
    <script src="~/js/site.js"></script>
}